#aboutStyle {
    background: linear-gradient(to bottom right, rgba(225, 225, 225, 0), rgba(204, 230, 255, 1));
    height: 100vh;
}

.headerStyle {
    text-align: left;
    font-size: 20px;
    font-family: 'Amarante', cursive;
    margin-top: 60px;
}

.aboutSections {
    margin-top: 5%;
}

.routingLinks {
    text-align: center;
    color: white;
    font-size: 15px;
}

#quote {
    font-family: 'Courgette', cursive;
    margin-top: 5%;
}



