#aboutStyle {
    background: linear-gradient(to bottom right, rgba(225, 225, 225, .3), rgba(204, 230, 255, 1));
    height: 75vh;
    margin-top: 100px;
    color: black;
    text-shadow: none;
}

.headerStyle {
    text-align: left;
    font-size: 20px;
    font-family: 'Amarante', cursive;
    margin-top: 80px;
    text-shadow: 3px 3px 5px #000000;
}

.aboutSections {
    margin-top: 5%;
}

.routingLinks {
    text-align: center;
    color: white;
    font-size: 15px;
}

.glyphicon {
    text-align: center;
}

#quote {
    font-family: 'Courgette', cursive;
    margin-top: 5%;
}




