.container {
    text-align: center;
    min-height: 100%;
}

.aboutSections {
    margin-top: 5%;
}

.routingLinks {
    text-align: center;
    color: white;
    font-size: 18px;
}

#quote {
    font-family: 'Courgette', cursive;
    margin-top: 5%;
}



