.btnFacebook { 
    width: 100px;
    height: 20px;  
    border-radius: 4px;
    background: #3b5998;
    color:white;
    border:0px transparent;  
    text-align: center;
    display: inline-block;
  }

  .btnFacebook:hover {
    background: #3b5998;
    opacity: 0.6;
  }