#suggestionStyle {
    background: linear-gradient(to top right, rgba(225, 225, 225, 0), rgba(204, 230, 255, 1));
}

#suggestionHeader {
    text-align: left;
    font-size: 20px;
    font-family: 'Amarante', cursive;
}